# Composer
/vendor/
composer.lock
composer.phar

# PHPUnit
.phpunit.result.cache
phpunit.xml.bak
/coverage/
clover.xml
.phpunit.cache/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Build
*.zip
build/
dist/
