<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap-phpunit.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	executionOrder="random"
	resolveDependencies="true"
	cacheResultFile=".phpunit.result.cache"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/unit</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="false">
		<include>
			<directory suffix=".php">includes</directory>
			<directory suffix=".php">admin</directory>
			<directory suffix=".php">public</directory>
		</include>
		<exclude>
			<file>includes/icons.php</file>
			<file>includes/index.php</file>
			<directory>admin/partials</directory>
			<file>admin/index.php</file>
			<file>public/index.php</file>
		</exclude>
	</coverage>
</phpunit>
